@import "../../../../styles/base/variables";

.single {
  margin-top: 50px;

  &__grid {
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
  }

  &__img {
    width: 293px;
    height: 450px;
    object-fit: fill;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__descr,
  &__pages,
  &__lang {
    margin-top: 25px;
    font-size: 18px;
    line-height: 21px;
  }

  &__price {
    margin-top: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $main-color;
  }

  &__link {
    justify-self: end;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;

    &:hover {
      color: inherit;
    }
  }
}
