@import "../../../../styles/base/variables";

.char-list {
  &__list {
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 25px;
    row-gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 25px;
  }

  &__item {
    max-width: 200px;
    min-height: 318px;
    background-color: $secondary-dark-color;
    cursor: pointer;
    transition: .3s all;
    
    &_selected,
    &:hover {
      box-shadow: 0 5px 20px $main-color;
      transform: translateY(-8px);
    }
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: fill;
  }

  &__name {
    margin: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
