@import "../../styles/base/variables";

.char-list {
  &__list {
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 25px;
  }

  &__item {
    max-width: 200px;
    min-height: 318px;
    margin-bottom: 30px;
    background-color: $secondary-dark-color;
    cursor: pointer;
  }

  &__img {
    width: 200px;
    height: 200px;
  }

  &__name {
    margin: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
