@import "../../../styles/base/variables";

.randomchar {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50%);

  &__block {
    padding: 35px 35px 35px 40px;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  }

  &__spinner {
    width: 100%;
    height: 250px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 35px 35px 35px 40px;
  }

  &__img {
    width: 180px;
    height: 180px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      object-fit: fill;
    }
  }

  &__info {
    display: grid;
    grid-template-rows: 29px 90px 38px;
    row-gap: 11px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }

  &__descr {
    font-size: 14px;
    line-height: 16px;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link:first-child {
    margin-right: 30px;
  }

  &__static {
    padding: 35px 40px;
    background-color: $secondary-dark-color;
    color: #ffffff;
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    &:nth-child(2) {
      margin-top: 33px;
    }
  }

  &__btn {
    margin-top: 20px;
  }

  &__decoration {
    position: absolute;
    bottom: 14px;
    right: -37px;
  }
}
