@import "../../styles/base/variables";

.random {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 250px;

  &__char {
    padding: 35px 35px 35px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  }

  &__wrapper {
    display: grid;
    grid-template-rows: minmax(29px, auto) 90px 38px;
    row-gap: 10px;
    padding-top: 3px;
  }

  &__img {
    width: 180px;
    height: 180px;
    margin-right: 30px;
    object-fit: cover;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    color: #000000;
  }

  &__descr {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link:first-child {
    margin-right: 30px;
  }

  &__choose {
    padding: 35px 40px;
    background-color: $secondary-dark-color;
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;

    &:nth-child(2) {
      margin-top: 33px;
    }
  }

  &__btn {
    margin-top: 23.5px;
  }

  &__decoration {
    position: absolute;
    bottom: 14px;
    right: -36px;
  }
}
